<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="#" class="active">Edit a quote</a></li>
</ol>
<h1>Edit a quote</h1>
<form action="/quotes/<%= @q[:id] %>/update" method="post">
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description" value="<%= @q[:description] %>">
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" class="form-control" name="author" value="<%= @q[:author] %>">
  </div>
  <button type="submit" class="btn btn-primary">
    Edit
  </button>
</form>