<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="#" class="active">Show a quote</a></li>
</ol>
<blockquote>
  <p><%= @q[:description] %></p>
  <footer><%= @q[:author] %></footer>
</blockquote>