<html>
  <head>
    <title>Quotes app</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
      blockquote {
        position: relative;
      }
      blockquote *{
        padding-left: 46px;
      }
      blockquote:before{
        color: lightgrey;
        content: "“";
        font-size: 96px;
        position: absolute;
        top: -32px;
        z-index: -9999;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <br>
          <%= yield %>
        </div>
      </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>